<div class="container">
        <h1>Add a website</h1>
        <form class="mt-5" action="add-website" name="addWebsite">
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Entrer une adresse" name="url">
            </div>
        </form>
        <% @websites.each do |website| %>
            <a href="<%= website.url %>"><%= website.url %></a>
        <% end %>

<!--  <div class="test">-->
<!--    <div class="loader"></div>-->
<!--  </div>-->
</div>
