<%= javascript_pack_tag 'hello_erb' %>

<div class="container">
  <form>
    <div class="form-group">
      <input type="text" name="url" class="form-control" id="urlForm" placeholder="URL à analyser">
    </div>
  </form>

  <div class="result"></div>

<!--  <div class="test">-->
<!--    <div class="loader"></div>-->
<!--  </div>-->
</div>
