<h1>W3C</h1>

<%= form_tag("/crawltemp/search") do %>
  <div class="form-group">
    <%= select_tag :url, options_from_collection_for_select(@websites, "id", "url"), class: "form-control" %>
  </div>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>