<h1>Performances</h1>

<%= form_tag("/scoring/search") do %>
  <div class="form-group">
    <input type="text" name="url" class="form-control" id="urlForm" placeholder="URL à analyser">
  </div>
<% end %>

<div class="scoring-loader"></div>

