<h1>Performances</h1>

<%= form_tag("/scoring/search") do %>
  <div class="form-group">
    <%= select_tag :url, options_from_collection_for_select(@websites, "id", "url"), class: "form-control" %>
  </div>
  <%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>

<div class="scoring-loader"></div>

